/* New Updated main css, NO AI HERE!!! */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Default color variables */
    --color-background-primary: #111111;
}
body {
padding: 0px;
margin: 0px;
}
.main-nav {
background-color: rgb(31, 31, 31);
padding: 0;
margin: 0;
}

.logo-img {
height: 50px;
}